// Ecommerce Header Cart Icon
.main-header__cart {
    position: relative;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    z-index: 1;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: var(--color-contrast-lower);
    transition: filter .5s cubic-bezier(.23,1,.32,1);
    
    .header__cart-icon {
        height: 20px;
        display: flex;
        position: relative;
        svg {
            height: 100%;
            path {
                stroke: var(--color-contrast-higher);
            }
        }
    }
    .header__cart-count span {
        font-size: .625rem;
        position: absolute;
        top: -2pt;
        right: -4pt;
        background-color: var(--color-primary);
        color: var(--color-black);
        width: 16px;
        height: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &:hover {
        filter: contrast(0.9);
    }
}