.ms_fuw--wrapper {
    position: fixed;
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    z-index: 1;
    mix-blend-mode: difference;
    
    .ms_fuw {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        display: flex;

        .ms_fuw--list {
            display: flex;
            .socials {
                display: flex;
                padding-left: 0;
            }
            
            h5 {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1pt;
                color: var(--color-contrast-medium);

                &::after {
                    content: '';
                    width: 1px;
                    height: 40px;
                    display: block;
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                    background-color: var(--color-contrast-low);
                }
            }
            li {
                list-style: none;
            }
            a {
                margin-top: 1rem;
                color: var(--color-contrast-medium);
                transition: color 250ms var(--ease-in-out);

                &:hover {
                    color: var(--color-primary);
                }
            }
            a::after {
                content: none;
            }
            // Icons
            .ms-socicon {
                transform: rotate(180deg);
            }
            [class^="socicon-"], [class*=" socicon-"] {
                font-size: 22px;
                margin-bottom: 1rem;
            }
        }
    }
}

.ms-footer {
    padding-top: 80px;
    padding-bottom: 80px;
    .container{
        .footer-title{
            padding-bottom: 40px;
            margin-top: 48px;
            border-bottom: 1px solid #81818133;
            @media(max-width:767px){
                margin-bottom: 20px;
            }
            h2{
                font-size: 48px;
                font-weight: 600;
                line-height: 1.4;
                letter-spacing: 1px;
                @media(max-width:767px){
                    font-size: 32px;
                }
                .btn-footer{
                    font-size: 22px;
                    border: 1px solid;
                    border-radius: 40px;
                    font-weight: 400;
                    position: relative;
                    white-space: nowrap;
                    padding: 12px 30px;
                    cursor: pointer;
                    user-select: none;
                    outline: 0;
                    outline-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    will-change: transform;
                    backface-visibility: hidden;
                    vertical-align: middle;
                    margin-left: 20px;
                    transition: all .4s;
                    @media(max-width:767px){
                        display: block;
                        width: 180px;
                        text-align: center;
                        margin: 10px auto 0 auto;
                    }
                    i{
                        margin-left: 5px;
                    }
                    &:hover{
                        border-color: var(--color-primary);
                        color: var(--color-primary);
                    }
                }
            }
            .ms-sl{
                font-size: 28px;
                color: #747474;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    margin-right: 8pt;
                }
            }
        }
        .footer-bottom-area{
            display: flex;
            align-items: center;
            padding-top: 40px;
            justify-content: space-between;
            gap: 5px;
            @media(max-width:991px){
                flex-direction: column;
                gap: 20px;
            }
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                align-items: center;
                gap: 30px;
                @media(max-width:1200px){
                    gap: 12px;
                }
            }
            .footer-nav-area{
                li{
                    a{
                        font-size: 14px;
                        font-weight: 600;
                        color: var(--color-contrast-higher);
                        display: block;
                        position: relative;
                        z-index: 1;
                        line-height: 1.2;
                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            background-color: var(--color-primary);
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            z-index: -1;
                            -webkit-transition: height .3s cubic-bezier(.23,1,.32,1);
                            transition: height .3s cubic-bezier(.23,1,.32,1);
                        }
                        &:hover{
                            &::after{
                                height: 4px;
                            }
                        }
                    }
                }
            }
        }
        .social-area{
            .area-inner{
                gap: 20px;
                @media(max-width:767px){
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 12px;
                }
                li{
                    a{
                        background: none;
                        border: 1px solid ;
                        &:hover{
                            border: 1px solid var(--color-contrast-higher);
                        }
                    }
                }
            }
        }
        .copyright-area{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .inner{
                display: flex;
                
                .logo-icon{
                    width: 70px;
                    padding: 10px;
                    border-radius: 20px 0 0 20px;
                    border: 1px solid;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                p.top{
                    font-size: 14px;
                    font-weight: 700;
                    color: var(--color-contrast-higher);
                    padding: 4px 12px 4px 8px;
                    border-style: solid;
                    border-width: 1px 1px 1px 0px;
                    border-radius: 0px 20px 0px 0px;
                }
                p.bottom{
                    text-align: left;
                    font-size: 10px;
                    font-weight: 400;
                    width: initial;
                    padding: 4px 4px 4px 8px;
                    border-style: solid;
                    border-width: 0px 1px 1px 0px;
                    border-radius: 0px 0px 20px 0px;
                }
            }
        }
    }
    .footer-container{
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200%; /* Adjust this value as needed */
            background-color: inherit;
            transform: translateY(-50%);
            z-index: -1;
            will-change: transform;
        }
    }
    a {
        color: inherit;
    }
    .footer-inner{
        border-radius: 40px;
        background: #95959512;
        padding: 40px;
        @media(max-width:450px){
            padding: 30px 10px;
        }
    }
}
body[data-footer-effect=on] {
    display: inherit;

    .ms-main {
        background-color: var(--color-bg);
        z-index: 2;
        width: 100%;
        position: relative;
        display: inline-block;
    }
    .ms-footer {
        bottom: 0;
        width: 100%;
        z-index: 1;
        
    }
}
body.index-six[data-footer-effect=on] {
    display: inherit;
    .ms-main {
        top: -1px;
    }
}

body[data-footer-corners="on"] {
    .ms-woo-main {
        margin-bottom: 0!important;
    }
    .ms-footer {
        padding-top: 40px;
    }
}

.page-template-page-no-footer {
    .ms-main {
        clip-path: inset(0px 0px 0px round 0px) !important;
    }
}
.index-two{
    .back-to-top{
        display: none;
    }
}